# 忽略日志文件
*.log

# 忽略JSON配置/数据文件
*.json

# 忽略所有文本文件（如需保留重要txt，看下方例外规则）
*.txt

# 忽略wandb训练日志整个文件夹
.wandb/

# 忽略模型 checkpoint 权重文件
*.ckpt

# 忽略蛋白质PDB结构文件
*.pdb

# -------- 可选：例外规则（白名单） --------
# 如果你想保留 README.txt 这类重要文本，取消下面注释即可
# !README.txt
*.pptx

*.yaml

*.wandb

*.pdf

